%ul
- @board.errors.full_messages.each do |message|
  %li= message
= form_with(model: @board,local: true) do |f|
  .field
    = f.label :title, 'Name'
    %br/
    = f.text_field :title, class: 'text'
  .field_lg
    = f.label :description, 'Description'
    %br/
    = f.text_area :descripttion
  .actions_createboard
    = f.submit 'Submit', class:'primary-btn'