.container
  %h2= 'All Boards'
  - @boards.each do |board|
    = link_to board_path(board) do
      .card
        .card_header
          %h3= board.title
          - if board.user == current_user
            .dropdown
              = image_tag 'actions.svg', class: 'icon'
              .dropdown_content
                %ul
                  %li= link_to 'Edit', edit_board_path(board)
                  %li= link_to 'Delete', board_path(board), data: { method: 'delete' }
        .card_content
          %p= board.description
        .card_footer
          = image_tag 'default-avatar.png', class: 'icon'
  = link_to new_board_path do
    .card.newlink +Add new board
