.container
  %h2= 'All Boards'
  - @boards.each do |board|
    .board
      .board_header
        %h3= board.title
        - if board.user == current_user
          .dropdown
            = image_tag 'actions.svg', class: 'dropdown_btn'
            .dropdown_content
              = link_to 'Edit', edit_board_path(board)
              = link_to 'Delete', board_path(board), data: { method: 'delete' }
      %p= board.description
      = image_tag 'default-avatar.png', class: 'board_avatar'
  = link_to new_board_path do
    .board.newlink +Add new board
